pydantic
pymilvus>=2.6,<2.7
setuptools<81
neo4j
sqlalchemy[asyncio]
sqlglot[c]
aiomysql
python-dotenv
tqdm
aiohttp
aiosqlite
openpyxl
litellm
google-adk
pandas
botocore
fastapi
uvicorn[standard]
python-multipart
python-docx
matplotlib
